@font-face {
  font-family: "Fredericka";
  src: url("./fonts/FrederickatheGreat-Regular.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Fredericka+the+Great&family=Sedgwick+Ave+Display&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
.pageWrapper {
  background-color: blanchedalmond;
  height: 100vh;
  padding: 30px;
}

.pageWrapper .title {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 60px;
}

.foodListWrapper {
  display: flex;
  min-width: 1180px;
}

.foodListWrapper button {
  all: unset;
  background-color: rgb(204, 230, 206);

  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 30px;
  margin: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.foodListWrapper button:focus {
  background-color: rgb(33, 63, 36);
}

.foodListWrapper button p {
  color: rgb(33, 63, 36);
  font-family: "Fredericka", sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

.foodListWrapper button:focus p {
  color: white;
}
