@font-face {
  font-family: "Fredericka";
  src: url("./fonts/FrederickatheGreat-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/RubikWetPaint-Regular.ttf");
}
.pageWrapper {
  background-color: blanchedalmond;
  height: 100vh;
  padding: 30px;
}

.pageWrapper .title {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 50px;
}

.foodListWrapper {
  display: flex;
  justify-content: center;
  min-width: 1180px;
  padding-top: 20px;
}

.foodListWrapper button {
  align-items: center;
  all: unset;
  background-color: rgb(204, 230, 206);
  border-radius: 30px;
  cursor: pointer;
  height: 100px;
  justify-content: center;
  margin: 10px;
  transition: background-color 0.3s;
  width: 250px;
}

.foodListWrapper button p {
  color: rgb(33, 63, 36);
  font-family: "Fredericka", sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.foodListWrapper button:focus {
  background-color: rgb(33, 63, 36);
}

.foodListWrapper button:focus p {
  color: white;
}

.foodListWrapper button:hover {
  background-color: rgb(33, 63, 36);
}

.foodListWrapper button:hover p {
  color: white;
}

.createHero {
  display: flex;
  padding: 30px;
}
.createHero button {
  all: unset;
  background-color: rgb(204, 230, 206);
  border-radius: 30px;
  cursor: pointer;
  height: 100px;
  margin: 0 auto;
  transition: background-color 0.3s;
  width: 300px;
}

.createHero button p {
  color: rgb(33, 63, 36);
  font-family: "Fredericka", sans-serif;
  font-size: 25px;
  margin: 17px;
  text-align: center;
}

.createHero button:active {
  background-color: rgb(33, 63, 36);
}

.createHero button:active p {
  color: white;
}

.createHero button:hover {
  background-color: rgb(33, 63, 36);
}

.createHero button:hover p {
  color: white;
}

.heroTitle p {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 40px;
}

.heroName p {
  font-family: "Rubik", system-ui;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.heroInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}
.heroImage {
  height: 300px;
  width: auto;
}
.heroInfo {
  align-self: center;
}
.heroInfo p {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 28px;
  padding: 10px;
}
